@media screen and (max-width: 430px) {
  .searchContainer {
    width: 100%;
    min-width: 0 !important;
  }

  .searchAutocomplete {
    width: 100%;
  }
}

.searchContainer {
  min-width: 350px;
  width: 100%;
}

.searchAutocomplete {
  position: relative;
  width: 100%;
}

.autocomplete {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  transition: border 0.15s, box-shadow 0.15s;
}

.autocomplete:hover,
.autocomplete:focus-within {
  background-color: #fff;
  border: 1px solid var(--border-color);
  box-shadow: rgb(0 0 0 / 14%) 0px 2px 10px;
}

@media (prefers-color-scheme: dark) {
  .autocomplete {
    --border-color: hsla(225, 15%, 27%, 1);

    color: #ffffff;
    border-color: var(--border-color);
    background-color: var(--text-color-primary);
  }

  .autocomplete:hover,
  .autocomplete:focus-within {
    background-color: var(--text-color-primary);
    box-shadow: rgb(0 0 0 / 14%) 0px 2px 10px;
  }
}

.searchField {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.searchInput {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.searchInput:focus {
  outline: none;
}

.resetButton,
.searchSubmit {
  border: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  transition: all 0.15s;
}

@media (prefers-color-scheme: dark) {
  .resetButton,
  .searchSubmit,
  .searchInput {
    color: #ffffff;
    background-color: var(--text-color-primary);
  }
}

.resetButton {
  max-width: 38px;
  max-height: 38px;
}

.resetButton:hover,
.resetButton:focus {
  outline: none;
  background-color: var(--bg-color-primary);
}

.resetButton:hover svg,
.resetButton:focus svg {
  stroke: white;
}

.searchSubmit:hover,
.searchSubmit:focus {
  outline: none;
  background-color: var(--bg-color-primary);
}

.searchSubmit:hover svg,
.searchSubmit:focus svg {
  stroke: white;
}

.result {
  width: 100%;
  margin-top: 10px;
  height: fit-content;
  position: absolute;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 14%) 0px 2px 10px;
  background-color: white;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

@media (prefers-color-scheme: dark) {
  .result {
    color: #ffffff;
    background-color: var(--text-color-primary);
  }
}

.resultList {
  padding: 10px;
  margin: 0;
}

.resultItem {
  list-style: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
  text-align: start;
}

.resultItem:hover,
.resultItem-active {
  background-color: var(--bg-color-primary) !important;
  color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  .resultItem:hover,
  .resultItem-active {
    color: var(--text-color-primary) !important;
    background-color: #ffffff !important;
  }
}

.resultItem:first-child {
  margin-top: 0;
}

.resultItem:last-child {
  margin-bottom: 0;
}

.wordDefinition .card {
  padding: 16px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  transition: border 0.15s, box-shadow 0.15s;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.wordDefinition .card:hover {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}

.wordDefinition .card-title {
  margin: 0;
}

.wordDefinition .card p {
  margin: 0;
  padding: 0;
}
